//colores
$verde : #4CB8D3;
$rosa : #F53756;
$amarillo : #FEF46D;
$morado : #752F97;
$negro : #000;
$blanco : #FFF;

//tipografia 
$fuente_principal : 'Montserrat', sans-serif;

//Media query
$phone : 480px;
$teblet : 768px;
$desktop : 992px;
$desktopXL : 1200px;