@use 'base/variables' as v;
@use 'base/mixins' as m;

.video{
    position: relative;
    max-height: 60rem;
    overflow: hidden;

    .overlay{
        position: absolute;
        background: rgb(160,1,249);
        background: linear-gradient(242deg, rgba(160,1,249,0.5) 0%, rgba(255,0,204,0.3) 100%);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    video{
        width: 100%;
        display: block;
    }
}
.contenido-video{
    
    h2{
        color: v.$blanco;
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    p{
        color: v.$blanco;
        background-color: v.$rosa;
        display: inline;
        padding: 1rem 2rem;
        font-weight: bold;
        font-size: 1rem;
    }
}

